* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: radial-gradient(circle at top, #020617, #000);
  color: white;
  height: 100vh;
}

/* NAV */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  background: rgba(0,0,0,0.7);
  z-index: 1000;
}

.logo span {
  color: #38bdf8;
}

nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

nav li {
  cursor: pointer;
  transition: 0.3s;
}

nav li:hover {
  color: #38bdf8;
}

/* CONTAINER */
.container {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CONTENT SECTIONS */
.content {
  display: none;
  text-align: center;
  animation: slide 0.6s ease;
  max-width: 700px;
}

.content.active {
  display: block;
}

@keyframes slide {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* HOME */
.profile {
  width: 180px;
  border-radius: 50%;
  margin-bottom: 20px;
  box-shadow: 0 0 30px #38bdf8;
}

span {
  color: #38bdf8;
}

/* SKILLS */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px,1fr));
  gap: 20px;
  margin-top: 30px;
}

.skills-grid div {
  padding: 20px;
  background: rgba(255,255,255,0.08);
  border-radius: 20px;
  transition: 0.3s;
}

.skills-grid div:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px #38bdf8;
}

/* PROJECTS */
.project-card {
  background: rgba(255,255,255,0.08);
  padding: 30px;
  border-radius: 25px;
  margin-top: 20px;
  transition: 0.4s;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 25px #38bdf8;
}